training4-american-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5ef21b8a-aba6-4ac4-8e51-6a2fc80d3723" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<db:config name="Database_ConfigDerby" doc:name="Database Config" doc:id="c3c60ee3-f137-4699-baa9-f0e50b063674" >
		<db:generic-connection url="jdbc:derby://localhost:1527/memory:training" driverClassName="org.apache.derby.jdbc.ClientDriver" />
	</db:config>
	<flow name="training4-american-wsFlow" doc:id="23af554b-fee7-4003-b229-ce61d00f23d5" >
		<db:select doc:name="Select" doc:id="eb98ae42-471b-4e7b-b86f-be8dcebd8645" config-ref="Database_Config">
			<db:sql >SELECT *

FROM american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d45c6fb4-8db0-4d21-b8a8-cadebccd0a7a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsbyID" doc:id="54be2629-485d-471d-9321-83840a35b246" >
		<db:select doc:name="Copy_of_Select" doc:id="33d49b1c-fabd-4fde-beb9-2f8565741823" config-ref="Database_Config" >
			<db:sql >SELECT *

FROM american

where ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="e948a6ea-efcf-4eba-b911-eeb7d9e4e518" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="5594084f-3020-4bba-8c4f-b3d234867470" >
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="b791f519-8859-461d-9767-6c47f2b1c3ea" />
	</flow>
</mule>
